body {
    background-image: url(../img/cani_gatti.avif);
    background-size: contain;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
}

.nav_bar {
    height: 4rem;
    width: 100%;
    background-color: white;
}

.my_card {
    width: calc(100% / 5 - 1rem);
    margin: 0.5rem 0.5rem;
    min-height: 25rem;
    background-color: white;

}

.my_card>div img {
    width: 90%;
}

.cont_img {
    height: 3rem;
}

.cont_img>img {
    height: 100%;
}